.navBottom {
  width: 100%;
  text-align: center;
  float: left;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

.navItem {
  width: 25%;
  float: left;
}

.navIcon {
  height: 50px;
  display: block;
  margin: auto;
}

.navText {
  clear: both;
}
