@import "globals";

.header {
  text-align: center;
  padding: 0 15px 1px;
  h3 {
    font-weight: bold;
  }
}

.body {
  text-align: center;
  padding: 0 15px 15px;
}

.adjustButtons {
  display: flex;
  padding: 10px 0 0;
}

@mixin adjustButton {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
}

@mixin descreaseButton {
  @include adjustButton;
  border: 1px solid $red;
  color: $red;
}

@mixin increaseButton {
  @include adjustButton;
  border: 1px solid $green;
  color: $green;
}

@mixin largeBtn {
  width: 100px;
  height: 100px;
  padding-top:40px;
}

@mixin mediumBtn {
  width: 75px;
  height: 75px;
  padding-top: 25px;
}

@mixin smallBtn {
  width: 50px;
  height: 50px;
  padding-top: 14px;
}

.tenMillionRed {
  @include adjustButton;
  @include smallBtn;
  @include descreaseButton;
}

.tenMillionGreen {
  @include adjustButton;
  @include smallBtn;
  @include increaseButton;
}

.oneMillionRed {
  @include adjustButton;
  @include smallBtn;
  @include descreaseButton;
}

.oneMillionGreen {
  @include adjustButton;
  @include smallBtn;
  @include increaseButton;
}

.hundredThousandRed {
  @include adjustButton;
  @include smallBtn;
  @include descreaseButton;
}

.hundredThousandGreen {
  @include adjustButton;
  @include smallBtn;
  @include increaseButton;
}

@mixin footerItem {
  flex: 0 1 33%;
}

.footerItemLeft {
  @include footerItem;
  text-align: left;
}

.footerItemCenter {
  @include footerItem;
  text-align: center;
}

.footerItemRight {
  @include footerItem;
  text-align: right;
}
