@import "./colors";

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@mixin button {
  @include button-standard-width;
  background-color: $white;
  border-color: $dark-grey;
  color: $white;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

@mixin button-standard-width {
  display: block;
  width: 180px;
}

@mixin primary-button {
  @include button;
  background-color: $brightblue;
  border-color: $brightblue;
  &:hover{
    background-color: $darkbluish;
  }
}

@mixin secondary-button {
  @include button;
  background-color: $green;
  border-color: $green;
  &:hover{
    background-color: $greenish;
  }
}

@mixin warning-button {
  @include button;
  background-color: $red;
  border-color: $red;
}

@mixin button-flex-container {
  display: flex;
  justify-content: center;
}

@mixin button-flex {
  position: absolute;
  bottom: 70px;
}