$lightblue: #EDFCFF;
$skyblue: #DFF7FE;
$blue: #49ABDD;
$brightblue: #00A3DE;
$darkblue: #304F6D;
$vdarkblue: #244665;

$lightgreen: #EDFEE4;
$brightgreen: #7ED321;
$green: #50D200;
$green-progress: #B8E986;
$green-incomplete: #E7FFDD;

$red: #D0011B;

$white: #ffffff;
$grey: #F5F6F5;
$grey2: #F8F8F8;
$anothergrey: #9B9B9B;
$dark-grey: #4D4D4D;

$text-color: $dark-grey;
$dark-text-color: $vdarkblue;
$link-color: $brightblue;
