@import url('https://fonts.googleapis.com/css?family=Raleway:300i,500,700,800');

#landing {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #2e4C66;
  -webkit-font-smoothing: antialiased;
}

#landing h1,
#landing h2,
#landing h3,
#landing h4 {
  text-transform: capitalize;
  color: #2e4C66;
}

#landing h1 {
  font-size: 57px;
  font-weight: 800;
  line-height: 68px;
}

#landing h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 50px;
}

#landing h3 {
  font-size: 27px;
  font-weight: 500;
  line-height: 38px;
}

#landing h4 {
  font-size: 18px;
  font-weight: 700;
}

#landing a {
  color: #2FAFDE;
  text-decoration: none;
}

#landing a:hover {
  text-decoration: underline;
}

#landing .container {
  margin: 0 auto;
  text-align: center;
}

#landing .btn {
  padding: 1em 2em;
  background-color: #2FAFDE;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  transition: all .2s ease;
  cursor: pointer;
}

#landing .btn:hover {
  background-color: #2E4C66;
}

#landing a.btn:hover {
  text-decoration: none;
}

#landing .btn.btn-secondary {
  color: #2FAFDE;
  background-color: #ffffff;
}

#landing .btn.btn-secondary:hover {
  color: #2FAFDE;
  background-color: #D5F6FF;
}

.btn-cta {
  display: inline-block;
  margin: 1em 0;
}

#landing .section {
  margin: auto;
  padding: 2em;
  position: relative;
  text-align: center;
}

#landing .section-secondary {
  color: #ffffff;
  max-width: 100%;
}

#landing .section-secondary::before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  background: #2FAFDE;
  content: '';
  height: 100%;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: -5px;
  transform: skewY(1.5deg);
  width: 100%;
  z-index: -1;
}

#landing .section-tertiary {
  background-color: #D5F6FF;
  color: #ffffff;
  max-width: 100%;
}

#landing .section-tertiary::before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  background: #2FAFDE;
  content: '';
  height: 50%;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: -5px;
  transform: skewY(-1.5deg);
  width: 100%;
  z-index: -1;
}

#landing .header-light {
  color: #fff;
}

#landing em {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
}

#landing .icon-voice {
  max-width: 50%;
  margin: 2em auto;
}

@media (min-width: 1000px) {
  #landing .icon-voice {
    max-width: 300px;
  }
}

@media (min-width: 1900px) {
  #landing .icon-voice {
    max-width: 400px;
  }
}

.screens-container {
  position: relative;
  height: 250px;
  margin: auto;
  max-width: 75%;
}

@media (min-width: 600px) {
  .screens-container {
    height: 300px;
    max-width: 60%;
  }
}

@media (min-width: 900px) {
  .screens-container {
    margin: auto;
    max-width: 700px;
    height: 500px;
  }
}

@media (min-width: 1900px) {
  .screens-container {
    max-width: 800px;
    height: 600px;
  }
}

.bg-confetti {
  display: none;
}

@media (min-width: 600px) {
  .bg-confetti {
    display:inline;
    position: absolute;
    z-index: 1;
    width: 130%;
    left: -15%;
    right: 0;
    margin: auto;
  }
}

.icon-screens {
  max-width: 80%;
  z-index: 2;
  margin:auto;
  position:absolute;
  top: 50px;
  left:0;
  right:0;
}
