.Service {
  text-align: center;
}

.Service__body {
  padding: 25px 40px;
}

.Service__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px;
}

.Service__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.Service__next-button {
  @include primary-button;
}
