.Service {
  text-align: center;
}

.Service__body {
  @include body;
}

.Service__title {
  @include title-text;
}

.Service__desc {
  @include description-text;
}

.Service__next-button {
  @include primary-button;
&:hover{
background-color: $darkbluish;
}

}

.Service__review-buttons {
  display: flex;
  padding: 0 15%;
}

.Service__edit-button {
  @include primary-button;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto;
}

.Service__done-button {
  @include secondary-button;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto;
}
