// Maybe this file gets renamed typography?
a, .link {
  color: $link-color;
}

p {
  white-space: pre-line;
}

@mixin body {
  padding: 25px 40px;
}

@mixin title-text {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px;
}

@mixin description-text {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

@mixin small-caps {
  font-size: 12px;
  text-transform: uppercase;
  color: $link-color;
  letter-spacing: 1.5px;
}

.left {
  float: left;
}

.right {
  float: right;
}
