.TotalFundsAvailable {
  text-align: center;
  padding-right: 5px;
}

.TotalFundsAvailable__header {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;
  margin: 10px 0 0;
}

.TotalFundsAvailable__dollars {
  margin: 2px 0 10px;
}
