{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flow-vars",
    "babel"
  ],
  "env": {
    "mocha": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "classes": true
  },
  "rules": {
    "strict": 0,
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "max-len": 0,
    "no-unused-vars": [1, { "vars": "all", "args": "after-used" }],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
  }
}
