@import "globals";

@mixin input {
  width: 100%;
  border: 1px solid $grey;
  border-radius: 5px;
  margin-bottom: 20px;
}

.formInput {
  @include input;
  padding: 0 10px;
  height: 36px;
}

.formTextarea {
  @include input;
  padding: 10px;
  height: 100px;
}

.inputLabel {
  float: left;
  font-weight: normal;
}

.icon {
  width: 100px;
  margin-bottom: 10px;
}
