@import "globals";

.formInput {
  width: 100%;
  height: 36px;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.inputLabel {
  float: left;
  font-weight: normal;
}

.icon {
  width: 100px;
  margin-bottom: 10px;
}
