@import "globals";

.dollarCount {
    width: 100%;
    text-align: center;
    float: left;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    @include tablet-plus {
      max-width: $tablet-width;
      float: none;
      left: auto;
    }
}
.dollarCount a {
    color: $black;
}

.amount {
  width: 50%;
  float: left;
  padding: 10px;
  color: $black;
}

.amountSumTitle {
  font-size: 12px;
}

.amountSum {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 0px;
}
