/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.flexbox,
.flexcontainer {
  display: flex; }

.flex {
  flex: 1; }

a, .link {
  color: #00A3DE; }

p {
  white-space: pre-line; }

.left {
  float: left; }

.right {
  float: right; }

.center-text {
  text-align: center; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.home {
  background: #DFF7FE; }

.logo {
  padding: 30px 0; }

.auth-form-wrapper {
  background: #ffffff;
  width: 90%;
  margin: auto;
  border-radius: 5px; }

.auth-tabs {
  display: flex;
  margin: 0;
  padding: 0; }

.auth-tab {
  width: 50%;
  text-align: center;
  padding: 20px 0;
  display: block; }
  .auth-tab:last-child {
    border-left: 2px solid #DFF7FE; }

.auth-tab.inactive-tab {
  background-color: #F5F6F5; }

.auth-form {
  padding: 20px 40px; }

.auth-form__label {
  font-size: 12px;
  font-weight: normal; }

.auth-form__button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  margin: 30px auto 10px;
  display: block;
  width: 45%; }
  .auth-form__button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.auth-form__skip {
  display: block;
  text-align: center;
  color: #244665;
  padding: 20px; }

.google-auth-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  color: #244665; }
  .google-auth-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .google-auth-button img {
    margin: -5px 5px 0 0; }

.intro {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background: #ffffff; }

.intro__skip {
  text-align: right;
  padding: 20px 0; }

.intro__img {
  margin: 35px 0 50px; }

.intro__text {
  font-size: 22px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 40px; }

.intro__start-button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px; }
  .intro__start-button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.intro__next-button {
  background-color: #50D200;
  border-color: #50D200;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px; }
  .intro__next-button:hover {
    color: #ffffff;
    background-color: #4B830E;
    text-decoration: none; }

.Navigation {
  background-color: #DFF7FE;
  display: flex;
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px; }

.Navigation__center-text {
  text-align: center;
  margin-top: 27px;
  font-size: 10px;
  text-transform: uppercase; }

.Navigation__icon--left {
  flex-grow: 1;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  width: 30px;
  justify-content: flex-start; }

.Navigation__icon--right {
  flex-grow: 1;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  width: 30px;
  float: right;
  justify-content: flex-end; }

.Navigation__special-header {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.Navigation__user-container {
  display: block;
  margin-right: 50px;
  flex: 1; }

.Navigation__welcome-message {
  display: inline-block; }

.TotalFundsAvailable {
  text-align: center;
  padding-right: 15px; }

.TotalFundsAvailable__header {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;
  margin: 10px 0 0; }

.TotalFundsAvailable__dollars {
  margin: 2px 0 10px; }

.ServiceFundsAvailable {
  width: 155px;
  text-align: center;
  padding-right: 5px;
  border-left: 2px solid #ffffff; }

.Dashboard__body {
  padding-top: 65px;
  height: 100%; }
  .Dashboard__body a {
    color: #4D4D4D;
    text-decoration: none; }

.PartyLevel {
  height: 140px;
  display: flex;
  cursor: pointer;
  margin-bottom: 4px;
  background-color: #F8F8F8; }

.PartyLevel--complete {
  height: 140px;
  display: flex;
  cursor: pointer;
  margin-bottom: 4px;
  background-color: #EDFEE4; }

.PartyLevel__image {
  width: 50%;
  padding-right: 5%; }

.PartyLevel__image--unstarted {
  width: 50%;
  padding-right: 5%;
  opacity: 0.4; }

.PartyLevel__details {
  width: 50%; }

.PartyLevel__title {
  font-size: 22px;
  margin: 50px 0 3px;
  color: #4D4D4D; }

.PartyLevel__title--unstarted {
  font-size: 22px;
  margin: 50px 0 3px;
  color: #4D4D4D;
  color: #b3b3b3; }

.PartyLevel__status {
  float: right;
  padding: 15px; }

.PartyLevel__progress {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px; }

.PartyLevelHeader {
  padding-top: 65px;
  max-height: 205px;
  overflow: hidden;
  text-align: center;
  background-color: #F8F8F8; }

.PartyLevelHeader__overlay--green {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 140px;
  padding: 25px 5%;
  background-color: rgba(80, 210, 0, 0.8);
  color: #ffffff; }

.PartyLevelHeader__overlay--grey {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 140px;
  padding: 25px 5%;
  background-color: rgba(245, 246, 245, 0.9);
  color: #4D4D4D; }

.PartyLevelHeader__image--complete {
  opacity: 0.4; }

.PartyLevelHeader__status {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.PartyLevelHeader__value {
  margin: 5px 0 7px;
  font-size: 36px; }

.PartyLevelHeader__change {
  font-size: 12px;
  text-transform: uppercase; }

.PartyLevelHeader__reset {
  font-size: 12px;
  text-transform: uppercase;
  color: #00A3DE;
  letter-spacing: 1.5px; }

.Service {
  text-align: center; }

.Service__body {
  padding: 25px 40px; }

.Service__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.Service__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.Service__next-button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px; }
  .Service__next-button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.Service__review-buttons {
  display: flex;
  padding: 0 15%; }

.Service__edit-button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto; }
  .Service__edit-button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.Service__done-button {
  background-color: #50D200;
  border-color: #50D200;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto; }
  .Service__done-button:hover {
    color: #ffffff;
    background-color: #4B830E;
    text-decoration: none; }

.Department {
  text-align: center; }

.Department__body {
  padding: 25px 40px; }

.Department__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.Department__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.Department__link {
  font-size: 16px; }

.Department__review-buttons {
  display: flex;
  padding: 25px 15% 30px; }

.Department__edit-button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  width: 95px;
  font-size: 16px;
  height: 36px;
  min-width: auto;
  padding: 6px; }
  .Department__edit-button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.Department__done-button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  width: 95px;
  font-size: 16px;
  height: 36px;
  min-width: auto;
  padding: 6px; }
  .Department__done-button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.Department__button-content--icon {
  padding: 6px 10px; }

.Department__button-content--right {
  padding-right: 25px; }

.ChangeByPercentButtons__adjustButtons {
  display: flex;
  padding: 10px 0 0;
  max-width: 300px;
  margin: 20px auto 35px; }

.ChangeByPercentButtons__tenMillionRed {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #D0011B;
  color: #D0011B; }

.ChangeByPercentButtons__tenMillionGreen {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #7ED321;
  color: #7ED321; }

.ChangeByPercentButtons__oneMillionRed {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #D0011B;
  color: #D0011B; }

.ChangeByPercentButtons__oneMillionGreen {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #7ED321;
  color: #7ED321; }

.ChangeByPercentButtons__hundredThousandRed {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #D0011B;
  color: #D0011B; }

.ChangeByPercentButtons__hundredThousandGreen {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #7ED321;
  color: #7ED321; }

.LearnMore {
  padding-top: 65px;
  text-align: center;
  background: #EDFCFF;
  height: 100%; }

.LearnMore__body {
  padding: 25px 40px; }

.LearnMore__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.LearnMore__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.LearnMore__close-button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px; }
  .LearnMore__close-button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.Explain {
  padding-top: 65px;
  text-align: center;
  background: #EDFCFF;
  height: 100%; }

.Explain__body {
  padding: 25px 40px; }

.Explain__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.Explain__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.Explain__close-button {
  background-color: #50D200;
  border-color: #50D200;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px; }
  .Explain__close-button:hover {
    color: #ffffff;
    background-color: #4B830E;
    text-decoration: none; }

.Explain__textarea {
  width: 100%;
  margin: auto;
  height: 50vh;
  padding: 20px; }

.ProgressBar {
  width: 100%;
  height: 10px;
  background-color: #E7FFDD;
  width: 75%;
  margin: auto; }

.ProgressBar__complete {
  background-color: #B8E986;
  height: 10px;
  display: block; }

.ProgressBar__text {
  margin-top: 10px;
  color: #9B9B9B;
  display: block;
  text-align: center; }

.Submit {
  padding-top: 65px; }

.Submit__intro-body {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background: #ffffff;
  text-align: center; }

.Submit__body {
  text-align: center;
  padding: 25px 40px; }

.Submit__next-button {
  background-color: #49ABDD;
  border-color: #49ABDD;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  margin: 20px auto; }
  .Submit__next-button:hover {
    color: #ffffff;
    background-color: #006285;
    text-decoration: none; }

.Submit__title {
  text-align: center; }

.Submit__desc {
  font-size: 40px;
  padding: 20px 0; }

.Submit__img {
  margin: 35px 0 40px; }

.Submit__smallcaps {
  font-size: 12px;
  text-transform: uppercase;
  color: #00A3DE;
  letter-spacing: 1.5px;
  margin-bottom: 50px; }

.Submit__review-header {
  max-height: 205px;
  overflow: hidden;
  text-align: center;
  background-color: #F8F8F8; }

.Submit__review-subtitle {
  margin-bottom: 30px; }

.Submit__review-buttons {
  display: flex;
  padding: 25px 15% 30px; }

.Submit__review-service-list {
  margin-bottom: 20px; }

.Submit__revise-link {
  padding: 10px 0 40px; }

.Submit__save-body {
  padding: 25px 40px; }
  .Submit__save-body label, .Submit__save-body input, .Submit__save-body textarea {
    width: 100%; }
  .Submit__save-body input, .Submit__save-body textarea {
    background: #FBFFFF;
    border: 1px solid #4D4D4D;
    margin-bottom: 10px;
    padding: 5px; }
  .Submit__save-body textarea {
    height: 170px; }
  .Submit__save-body label {
    font-weight: normal;
    font-size: 16px; }

html, body, #root,
.container, .row,
.intro {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #4D4D4D; }
