@import "./sass/colors";
@import "./sass/buttons.scss";
@import "./sass/Home.scss";
@import "./sass/Intro.scss";

html, body, #root,
.container, .row,
.intro {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $skyblue;
  color: $text-color;
}
