/* Reset `button` and button-style `input` default styles */
@import url("https://fonts.googleapis.com/css?family=Raleway:300i,500,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway");
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.flexbox,
.flexcontainer {
  display: flex; }

.flex {
  flex: 1; }

* {
  box-sizing: border-box; }

a, .link {
  color: #00A3DE; }

p {
  margin: 0 0 10px; }

a {
  text-decoration: none; }

p {
  white-space: pre-line; }

.left {
  float: left; }

.right {
  float: right; }

.center-text {
  text-align: center; }

.form-group {
  margin-bottom: 15px; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.home {
  background: #DFF7FE; }

.logo {
  padding: 30px;
  width: 80%; }

.auth-form-wrapper {
  background: #ffffff;
  width: 90%;
  margin: auto;
  border-radius: 5px; }

.auth-tabs {
  display: flex;
  margin: 0;
  padding: 0; }

.auth-tab {
  width: 50%;
  text-align: center;
  padding: 20px 0;
  display: block; }
  .auth-tab:last-child {
    border-left: 2px solid #DFF7FE; }

.auth-tab.inactive-tab {
  background-color: #F5F6F5; }

.auth-form {
  padding: 20px 40px; }

.auth-form__label {
  font-size: 12px;
  font-weight: normal; }

.auth-form__button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE;
  margin: 30px auto 10px;
  display: block;
  width: 45%; }
  .auth-form__button:hover {
    color: #ffffff;
    text-decoration: none; }
  .auth-form__button:hover {
    background-color: #006285; }
  .auth-form__button:hover {
    background-color: #006285; }

.auth-form__skip {
  display: block;
  text-align: center;
  color: #244665;
  padding: 20px; }

.google-auth-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  color: #244665;
  border: 1px solid #244665;
  white-space: nowrap;
  font-size: 14px; }
  .google-auth-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .google-auth-button img {
    margin: -5px 5px 0 0; }
  .google-auth-button:hover {
    font-weight: bold;
    color: #006285; }

.intro {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background: #ffffff; }

.intro__skip {
  text-align: right;
  padding: 20px 0;
  z-index: 2; }

.intro__image-wrapper {
  position: relative;
  margin: 20px auto; }

.intro__img-0,
.intro__img-1,
.intro__img-2,
.intro__img-3,
.intro__img-4 {
  position: absolute; }

.intro__img-0 {
  position: absolute;
  left: 27%;
  top: 19%; }

.intro__img-1 {
  position: absolute;
  left: 27%;
  top: 20%; }

.intro__img-2 {
  position: absolute;
  left: 17%;
  top: 23%; }

.intro__img-3 {
  position: absolute;
  left: 26%;
  top: 22%; }

.intro__img-4 {
  position: absolute;
  left: 16%;
  top: 23%; }

.intro__confetti {
  margin: auto; }

.intro__text {
  font-size: 22px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 40px; }

.intro__button-flex-container {
  display: flex;
  justify-content: center; }

.intro__start-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE;
  position: absolute;
  bottom: 70px; }
  .intro__start-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .intro__start-button:hover {
    background-color: #006285; }

.intro__next-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #50D200;
  border-color: #50D200;
  position: absolute;
  bottom: 70px; }
  .intro__next-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .intro__next-button:hover {
    background-color: #4B830E; }

.Navigation {
  background-color: #DFF7FE;
  display: flex;
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px; }

.Navigation__center-text {
  text-align: center;
  margin-top: 27px;
  font-size: 10px;
  text-transform: uppercase; }

.Navigation__icon--left {
  flex-grow: 1;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  width: 30px;
  justify-content: flex-start; }

.Navigation__icon--right {
  flex-grow: 1;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  width: 30px;
  float: right;
  justify-content: flex-end; }

.Navigation__special-header {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.Navigation__user-container {
  display: flex;
  margin-right: 50px;
  flex: 1; }

.Navigation__welcome-message {
  align-self: center; }

.TotalFundsAvailable {
  text-align: center;
  padding-right: 15px; }

.TotalFundsAvailable__header {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;
  margin: 10px 0 0;
  height: 20px; }

.TotalFundsAvailable__dollars {
  margin: 2px 0 10px; }

.ServiceFundsAvailable {
  width: 155px;
  text-align: center;
  padding-right: 5px;
  border-left: 2px solid #ffffff; }

.Dashboard__body {
  padding-top: 65px;
  height: 100%; }
  .Dashboard__body a {
    color: #4D4D4D;
    text-decoration: none; }

.PartyLevel {
  height: 140px;
  display: flex;
  cursor: pointer;
  margin-bottom: 4px;
  background-color: #F8F8F8; }

.PartyLevel--complete {
  height: 140px;
  display: flex;
  cursor: pointer;
  margin-bottom: 4px;
  background-color: #EDFEE4; }

.PartyLevel__image {
  width: 50%;
  padding-right: 5%; }

.PartyLevel__image--unstarted {
  width: 50%;
  padding-right: 5%;
  opacity: 0.4; }

.PartyLevel__details {
  width: 50%; }

.PartyLevel__title {
  font-size: 22px;
  margin: 50px 0 3px;
  color: #4D4D4D;
  padding-right: 10px; }

.PartyLevel__title--unstarted {
  font-size: 22px;
  margin: 50px 0 3px;
  color: #4D4D4D;
  padding-right: 10px;
  color: #b3b3b3; }

.PartyLevel__status {
  float: right;
  padding: 15px; }

.PartyLevel__progress {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px; }

.PartyLevelHeader {
  padding-top: 65px;
  max-height: 205px;
  overflow: hidden;
  text-align: center;
  background-color: #F8F8F8; }

.PartyLevelHeader__overlay--green {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 140px;
  padding: 25px 5%;
  background-color: rgba(80, 210, 0, 0.8);
  color: #ffffff; }

.PartyLevelHeader__overlay--grey {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 140px;
  padding: 25px 5%;
  background-color: rgba(245, 246, 245, 0.9);
  color: #4D4D4D; }

.PartyLevelHeader__image--complete {
  opacity: 0.4; }

.PartyLevelHeader__status {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.PartyLevelHeader__value {
  margin: 5px 0 7px;
  font-size: 36px; }

.PartyLevelHeader__change {
  font-size: 12px;
  text-transform: uppercase; }

.PartyLevelHeader__reset {
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  color: #00A3DE;
  letter-spacing: 1.5px; }

.Service {
  text-align: center; }

.Service__body {
  padding: 25px 40px; }

.Service__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.Service__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.Service__next-button-flex-container {
  display: flex;
  justify-content: center; }

.Service__next-button {
  position: absolute;
  bottom: 70px;
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE; }
  .Service__next-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .Service__next-button:hover {
    background-color: #006285; }
  .Service__next-button:hover {
    background-color: #006285; }

.Service__review-buttons {
  display: flex;
  padding: 0 15%; }

.Service__edit-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto; }
  .Service__edit-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .Service__edit-button:hover {
    background-color: #006285; }

.Service__done-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #50D200;
  border-color: #50D200;
  width: 95px;
  font-size: 14px;
  height: auto;
  min-width: auto; }
  .Service__done-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .Service__done-button:hover {
    background-color: #4B830E; }

.Department {
  text-align: center; }

.Department__body {
  padding: 25px 40px; }

.Department__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.Department__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.Department__link {
  font-size: 16px; }

.Department__review-buttons {
  display: flex;
  padding: 25px 15% 30px; }

.Department__edit-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE;
  width: 95px;
  font-size: 16px;
  height: 36px;
  min-width: auto;
  padding: 6px; }
  .Department__edit-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .Department__edit-button:hover {
    background-color: #006285; }
  .Department__edit-button:hover {
    background-color: #006285; }

.Department__done-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE;
  width: 95px;
  font-size: 16px;
  height: 36px;
  min-width: auto;
  padding: 6px; }
  .Department__done-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .Department__done-button:hover {
    background-color: #006285; }
  .Department__done-button:hover {
    background-color: #006285; }

.Department__button-content--icon {
  padding: 6px 10px; }

.Department__button-content--right {
  padding-right: 25px; }

.ChangeByPercentButtons__adjustButtons {
  display: flex;
  padding: 10px 0 0;
  max-width: 300px;
  margin: 20px auto 35px; }

.ChangeByPercentButtons__tenMillionRed {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #D0011B;
  color: #D0011B; }

.ChangeByPercentButtons__tenMillionGreen {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #7ED321;
  color: #7ED321; }

.ChangeByPercentButtons__oneMillionRed {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #D0011B;
  color: #D0011B; }

.ChangeByPercentButtons__oneMillionGreen {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #7ED321;
  color: #7ED321; }

.ChangeByPercentButtons__hundredThousandRed {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #D0011B;
  color: #D0011B; }

.ChangeByPercentButtons__hundredThousandGreen {
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 50%;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #7ED321;
  color: #7ED321; }

.LearnMore {
  padding-top: 65px;
  text-align: center;
  background: #EDFCFF;
  height: 100%; }

.LearnMore__body {
  padding: 25px 40px; }

.LearnMore__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.LearnMore__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.LearnMore__close-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE; }
  .LearnMore__close-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .LearnMore__close-button:hover {
    background-color: #006285; }

.Explain {
  padding-top: 65px;
  text-align: center;
  background: #EDFCFF;
  height: 100%; }

.Explain__body {
  padding: 25px 40px; }

.Explain__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 15px; }

.Explain__desc {
  font-size: 16px;
  text-align: center;
  line-height: 24px; }

.Explain__close-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #50D200;
  border-color: #50D200; }
  .Explain__close-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .Explain__close-button:hover {
    background-color: #4B830E; }

.Explain__textarea {
  width: 100%;
  margin: auto;
  height: 50vh;
  padding: 20px; }

.ProgressBar {
  width: 100%;
  height: 10px;
  background-color: #E7FFDD;
  width: 75%;
  margin: auto; }

.ProgressBar__complete {
  background-color: #B8E986;
  height: 10px;
  display: block; }

.ProgressBar__text {
  margin-top: 10px;
  color: #9B9B9B;
  display: block;
  text-align: center; }

.Submit {
  padding-top: 65px; }

.Submit__intro-body {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background: #ffffff;
  text-align: center; }

.Submit__body {
  text-align: center;
  padding: 25px 40px; }

.Submit__next-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #00A3DE;
  border-color: #00A3DE;
  margin: 20px auto; }
  .Submit__next-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .Submit__next-button:hover {
    background-color: #006285; }

.Submit__title {
  text-align: center; }

.Submit__desc {
  font-size: 40px;
  padding: 20px 0; }

.Submit__img {
  margin: 35px 0 40px; }

.Submit__smallcaps {
  font-size: 12px;
  text-transform: uppercase;
  color: #00A3DE;
  letter-spacing: 1.5px;
  margin-bottom: 50px; }

.Submit__review-header {
  max-height: 205px;
  overflow: hidden;
  text-align: center;
  background-color: #F8F8F8; }

.Submit__review-subtitle {
  margin-bottom: 30px; }

.Submit__review-buttons {
  display: flex;
  padding: 25px 15% 30px; }

.Submit__review-service-list {
  margin-bottom: 20px; }

.Submit__revise-link {
  padding: 10px 0 40px; }

.Submit__save-body {
  padding: 25px 40px; }
  .Submit__save-body label, .Submit__save-body input, .Submit__save-body textarea {
    width: 100%; }
  .Submit__save-body input, .Submit__save-body textarea {
    background: #FBFFFF;
    border: 1px solid #4D4D4D;
    margin-bottom: 10px;
    padding: 5px; }
  .Submit__save-body textarea {
    height: 170px; }
  .Submit__save-body label {
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    display: block; }
  .Submit__save-body select {
    font-size: 14px;
    margin-bottom: 10px; }
  .Submit__save-body small {
    display: block;
    margin-bottom: 3px; }

.User {
  align-items: center;
  background-color: #DFF7FE;
  border-radius: 10px;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin: 0 auto;
  text-align: center; }

@media (max-width: 600px) {
  .User {
    border-radius: 0;
    height: 100%; } }

.User__title {
  font-weight: 600;
  text-align: center; }

.User__logout-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #D0011B;
  border-color: #D0011B;
  margin: 40px auto; }
  .User__logout-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .User__logout-button:hover {
    background-color: #f86d64; }

.User__login-button {
  display: block;
  width: 180px;
  background-color: #ffffff;
  border-color: #4D4D4D;
  color: #ffffff;
  text-align: center;
  height: 50px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 25px;
  margin: auto;
  padding: 12px;
  cursor: pointer;
  background-color: #50D200;
  border-color: #50D200;
  margin: 40px auto; }
  .User__login-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .User__login-button:hover {
    background-color: #4B830E; }
  .User__login-button:hover {
    background-color: #59f766; }

.User__back-button {
  height: 50px;
  width: 50px; }

#landing {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #2e4C66;
  -webkit-font-smoothing: antialiased; }

#landing h1,
#landing h2,
#landing h3,
#landing h4 {
  text-transform: capitalize;
  color: #2e4C66; }

#landing h1 {
  font-size: 57px;
  font-weight: 800;
  line-height: 68px; }

#landing h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 50px; }

#landing h3 {
  font-size: 27px;
  font-weight: 500;
  line-height: 38px; }

#landing h4 {
  font-size: 18px;
  font-weight: 700; }

#landing a {
  color: #2FAFDE;
  text-decoration: none; }

#landing a:hover {
  text-decoration: underline; }

#landing .container {
  margin: 0 auto;
  text-align: center;
  max-width: 500px; }

#landing .btn {
  padding: 1em 2em;
  background-color: #2FAFDE;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  transition: all .2s ease;
  cursor: pointer; }

#landing .btn:hover {
  background-color: #2E4C66; }

#landing a.btn:hover {
  text-decoration: none; }

#landing .btn.btn-secondary {
  color: #2FAFDE;
  background-color: #ffffff; }

#landing .btn.btn-secondary:hover {
  color: #2FAFDE;
  background-color: #D5F6FF; }

.btn-cta {
  margin: 1em 0;
  display: inline-block; }

#landing .section {
  padding: 2em;
  position: relative;
  text-align: center; }

#landing .section-secondary {
  color: #ffffff; }

#landing .section-secondary::before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #2FAFDE;
  transform: skewY(1.5deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#landing .section-tertiary {
  background-color: #D5F6FF;
  color: #ffffff; }

#landing .section-tertiary::before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 50%;
  z-index: -1;
  background: #2FAFDE;
  transform: skewY(-1.5deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#landing .header-light {
  color: #fff; }

#landing em {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic; }

#landing .icon-voice {
  max-width: 50%;
  margin: 2em auto; }

.screens-container {
  position: relative;
  height: 500px;
  margin: 1em 0; }

@media (min-width: 400px) {
  .screens-container {
    height: 600px; } }

@media (min-width: 480px) {
  .screens-container {
    height: 650px; } }

@media (min-width: 600px) {
  .screens-container {
    height: 300px; } }

.bg-confetti {
  display: none; }

@media (min-width: 600px) {
  .bg-confetti {
    display: inline;
    position: absolute;
    z-index: 1;
    width: 130%;
    left: -15%;
    right: 0;
    margin: auto; } }

.icon-screens {
  position: absolute;
  max-width: 200%;
  margin: auto;
  left: -50%; }

@media (min-width: 600px) {
  .icon-screens {
    max-width: 80%;
    z-index: 2;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0; } }

.bubble-list,
.link-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.bubble {
  display: inline-block;
  transition: all .2s ease;
  margin: 1em; }

.bubble:hover {
  transform: scale(1.2) rotate(5deg); }

.bubble img {
  border-radius: 100px; }

html, body, #root,
.container, .row,
.intro {
  height: 100%; }

.container {
  position: relative; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #4D4D4D; }

@media (min-width: 600px) {
  .container, .Navigation {
    width: 500px;
    margin: auto; }
  .Navigation {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px; } }
