$nav_height: 65px;

@import "./sass/colors";
@import "./sass/buttons";
@import "./sass/flexbox";
@import "./sass/shared";
@import "./sass/Home";
@import "./sass/Intro";
@import "./sass/Navigation";
@import "./sass/TotalFundsAvailable";
@import "./sass/ServiceFundsAvailable";
@import "./sass/Dashboard";
@import "./sass/PartyLevel";
@import "./sass/PartyLevelHeader";
@import "./sass/Service";
@import "./sass/Department";
@import "./sass/Department/ChangeByPercentButtons";
@import "./sass/LearnMore";
@import "./sass/Explain";
@import "./sass/ProgressBar";
@import "./sass/Submit";
@import "./sass/User";

html, body, #root,
.container, .row,
.intro {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $text-color;
}
