@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,300);

$iphone: 414px;
$desktop: 960px;

$red: #BE071E;
$green: #74C51C;
$blue: #4A90E2;
$white: #ffffff;


$font: 'ubuntu', sans-serif;


/*Green + buttons*/


/*Red - buttons*/


/*to be used on white backgrounds*/
.buttonSolid {
  width: 100%;
  margin-bottom: 40px;
  font-weight: bold;
  background-color: $blue;
  border-color: $blue;
  font-size: 14px; 
  border-radius: 25px; 
}

/*to be used on dark color backgrounds*/
.buttonWhiteOutline {
  width: 100%;
  margin-bottom: 40px;
  font-weight: bold;
  background-color: $white;
  border-color: $white;
  color: $blue;
  font-size: 14px; 
  border-radius: 25px; 
}
