@import "globals";


.pageTitle {
  margin-top: 0px;
  text-align: center;
}

.pageBody {
    margin-top: 30px;
}

.cashMoney {
  color: $green;
  font-weight: bold;
}

.button {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  background-color: $blue;
  border-color: $blue;
}

.ServiceTypesWrapper {
  display: flex;
  flex-flow: row wrap;
}
