@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,300);

$iphone: 414px;
$desktop: 960px;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-plus {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/*typography*/
$font: 'ubuntu', sans-serif;


@import "colors";
@import "buttons";
@import "cards";

.contentBody {
  padding: 20px;
  margin-top: 40px; // sticky top offset
  margin-bottom: 24px; //sticky bottom offset
}

.placeholderButton {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  background-color: $blue;
  margin: auto;
  margin-bottom: 20px;
}

.strong {
  font-weight: bold;
}

.hidden {
  display: none;
}

.rootWrapper {
  @include tablet-plus {
    margin: auto;
    max-width: $tablet-width;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    min-height: 90vh;
  }
}
